<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8 />
  <title>What's on hold?</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<%= yield %>
</body>
</html>