.container {max-width: 800px; margin: 0 auto;border: 8px #C9C5DB solid;}

body {font-family: Libre Baskerville, Baskerville, Georgia, serif; font-size: 18px; background: #fff; color: #333; margin: 0px; padding: 20px 20px 50px 20px; }

h2, .search {
    text-align: center;
}

.text {
    margin: 0 auto;
    width: 90%;
}

ul li {padding-bottom: 6px; line-height: 24px;}

p a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #C9C5DB solid;}
p a:visted {color: #ff00ff;}
a:active {color: #C9C5DB;}
a:hover {color: #C9C5DB;}

span {background-color: #C9C5DB}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #C9C5DB;
    margin: 1em 0; padding: 0; }