.container {max-width: 800px; margin: 0 auto;border: 8px #C9C5DB solid;}

body, .search-button {font-family: Libre Baskerville, Baskerville, Georgia, serif; font-size: 18px; background: #fff; color: #333; margin: 0px; padding: 20px 20px 50px 20px; }

h2, .search {
    text-align: center;
}

.text {
    margin: 0 auto;
    width: 80%;
}

footer {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
}

ul li {padding-bottom: 6px; line-height: 24px;}

p a, a {color: #333; text-decoration: none; padding-bottom: 0px; border-bottom: 2px #C9C5DB solid;}
p a:visted {color: #ff00ff;}
a:active {color: #C9C5DB;}
a:hover {color: #C9C5DB;}

span {
    background-color: #C9C5DB;
}
span a:hover {
    color: black;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #C9C5DB;
    margin: 1em 0; padding: 0; }

#dotted
{
    width: 50%;
    border:0;
    border-bottom: 2px dotted;
}

input {
    margin:5px;
    font-size: 18px;
    font-family: Libre Baskerville, Baskerville, Georgia, serif;
    text-align: center;
}

.search-button {
    position: relative;
    vertical-align: top;
    width: 15%;
    height: 22px;
    padding: 0;
    font-size: 18px;
    color: black;
    text-align: center;
    background: #C9C5DB;
    border: 0;
    border-bottom: 2px solid #C9C5DB;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #C9C5DB;
    box-shadow: inset 0 -2px #C9C5DB;
}
.search-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}